Flask>=3.0.0
pytesseract>=0.3.10
Pillow>=10.0.0
opencv-python>=4.8.0.74
numpy>=1.25.0
requests>=2.31.0
demjson3>=3.0.6
fpdf>=1.7.2
Flask-Cors>=4.0.0
pytesseract>=0.3.10
Pillow>=10.0.0
opencv-python>=4.8.0.74
numpy>=1.25.0
requests>=2.31.0
demjson3>=3.0.6
fpdf>=1.7.2
